<template>
<div class="container">
    <div class="row pt-5">
        <div class="col-md-5">
            <div class="card">
                <p class="h4">Agregar Artículo</p>
                <div class="card-body">
                    <form @submit.prevent="agregarArticulo">
                        <div class="form-group">
                            <input type="text" v-model="articulo.titulo" class="form-control" placeholder="Insertar el título" required>
                        </div>
                        <div class="form-group">
                            <input type="text" v-model="articulo.subtitulo" class="form-control" placeholder="Insertar el subtítulo" required>
                        </div>
                        <div class="form-group">
                            <textarea type="text" v-model="articulo.contenido" cols="30" rows="10" class="form-control" placeholder="Insertar Contenido" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" v-model="articulo.imgUrl" class="form-control" placeholder="Inserta Imagen" required>
                        </div>
                        <template v-if="editar === false">
                            <button class="btn btn-success btn-block">Crear</button>
                        </template>
                        <template v-else>
                            <button class="btn btn-success btn-block">Actualizar</button>
                        </template>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Subtítulo</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(articulo, index) in articulos" :key="index">
                        <th>{{index + 1}}</th>
                        <td>{{articulo.titulo}}</td>
                        <td>{{articulo.subtitulo}}</td>
                        <td>
                            <button @click="eliminarArticulo(articulo._id)" class="btn btn-danger">Eliminar</button>
                        </td>
                        <td>
                            <button @click="editarArticulo(articulo._id)" class="btn btn-success">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>
    <div class="row pt-5">
        <div class="col-md-12" v-for="articulo in articulos" :key="articulo._id">
            <div class="card mb-3">
                <img :src="articulo.imgUrl" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{articulo.titulo}}</h5>
                    <h5 class="card-title" style="text-align: center;">{{articulo.subtitulo}}</h5>
                    <p class="card-text" style="text-align: justify;">{{articulo.contenido}}</p>

                    <button @click="eliminarArticulo(articulo._id)" class="btn btn-danger">Eliminar</button>
                    <button @click="editarArticulo(articulo._id)" class="btn btn-success">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
class Articulo {
    constructor(titulo, subtitulo, imgUrl, contenido, comentario) {
        this.titulo = titulo;
        this.subtitulo = subtitulo;
        this.imgUrl = imgUrl;
        this.contenido = contenido;
        this.comentario = comentario;
    }
}

export default {
    data() {
        return {
            articulo: new Articulo(),
            articulos: [],
            editar: false,
            idArticulo: ''
        }
    },
    computed: {
        sortedItems: function () {
            return this.reservas.sort((a, b) => new Date(a.fechaSolicitud) - new Date(b.fechaSolicitud))
        }
    },
    created() {
        this.obtenerArticulo();
        this.sortedItems();
    },
    methods: {
        agregarArticulo() {
            if (this.editar === false) {
                fetch('http://localhost:3000/articulos', {
                        method: 'POST',
                        body: JSON.stringify(this.articulo),
                        headers: {
                            'Accept': 'application/json',
                            'Content-type': 'application/json'
                        }
                    })
                    .then((res => res.json()))
                    .then(data => {
                        this.obtenerArticulo();
                    })
            } else {
                fetch('http://localhost:3000/articulos/' + this.idArticulo, {
                        method: 'PUT',
                        body: JSON.stringify(this.articulo),
                        headers: {
                            'Accept': 'application/json',
                            'Content-type': 'application/json'
                        }
                    })
                    .then(res => res.json())
                    .then(data => {
                        this.obtenerArticulo();
                    })
            }
            this.articulo = new Articulo();
        },
        obtenerArticulo() {
            fetch('http://localhost:3000/articulos')
                .then(res => res.json())
                .then(data => {
                    this.articulos = data;
                    console.log(this.articulos);
                })
        },
        eliminarArticulo(id) {
            fetch('http://localhost:3000/articulos/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.obtenerArticulo();
                })
        },
        editarArticulo(id) {
            fetch('http://localhost:3000/articulos/' + id)
                .then(res => res.json())
                .then(data => {
                    this.articulo = new Articulo(data.titulo, data.subtitulo, data.imgUrl, data.contenido);
                    this.idArticulo = data._id;
                    this.editar = true;
                });
        },
        obtenerReserva() {
            fetch('http://localhost:3000/reservas')
                .then(res => res.json())
                .then(data => {
                    this.reservas = data;
                    console.log(this.reservas);
                })
        },
        eliminarReserva(id) {
            fetch('http://localhost:3000/reservas/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.obtenerReserva();
                })
        },
        masInformacion(id) {
            fetch('http://localhost:3000/reservas/' + id)
                .then(res => res.json())
                .then(data => {
                    this.idReserva = data;
                    console.log("Solo artículo código: " + id, this.idReserva);
                })
        }
    }
}
</script>

<style>

</style>
