<template>
<div class="card">
    <v-sheet tile height="54" class="d-flex">
        <v-btn icon class="ma-2" @click="$refs.calendar.prev()">
            <v-icon>mdi-calendar-arrow-left</v-icon>
        </v-btn>
        <v-btn icon class="ma-2" @click="$refs.calendar.next()">
            <v-icon>mdi-calendar-arrow-right</v-icon>
        </v-btn>
        <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
        </v-toolbar-title>
    </v-sheet>
    <v-sheet height="405">
        <v-calendar ref="calendar" v-model="value" :weekdays="weekday" :type="type" @click:event="showEvent" :events="events" :event-overlap-mode="mode" :event-overlap-threshold="30" :event-color="getEventColor" @change="getEvents"></v-calendar>
    </v-sheet>
</div>
</template>

<script>
import moment from 'moment';

export default {
    data: () => ({
        type: 'month',
        types: ['month', 'week', 'day', '4day'],
        mode: 'stack',
        modes: ['stack', 'column'],
        weekday: [0, 1, 2, 3, 4, 5, 6],
        weekdays: [{
                text: 'Sun - Sat',
                value: [0, 1, 2, 3, 4, 5, 6]
            },
            {
                text: 'Mon - Sun',
                value: [1, 2, 3, 4, 5, 6, 0]
            },
            {
                text: 'Mon - Fri',
                value: [1, 2, 3, 4, 5]
            },
            {
                text: 'Mon, Wed, Fri',
                value: [1, 3, 5]
            },
        ],
        value: '',
        name: null,
        details: null,
        start: null,
        end: null,
        selectedEvent: {},
        events: [],
        colors: ['blue', 'primary', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
        names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
    }),
    mounted() {
        this.$refs.calendar.checkChange();
    },
    methods: {
        showEvent({
            nativeEvent,
            event
        }) {
            const open = () => {
                this.selectedEvent = event
                this.selectedElement = nativeEvent.target
                setTimeout(() => this.selectedOpen = true, 10)
            }
            if (this.selectedOpen) {
                this.selectedOpen = false
                setTimeout(open, 10)
            } else {
                open()
            }
            nativeEvent.stopPropagation()
        },
        getEvents({
            start,
            end
        }) {
            const request = fetch('http://localhost:3000/reservas');
            request.then(resp => resp.json()).then(
                data => {
                    this.events = data.map(({
                        _id,
                        fechaSolicitud,
                        seleccionaHora,
                        servicio,
                        mascota,
                        nombre
                    }) => ({
                        id: _id,
                        start: fechaSolicitud.split("T")[0] + " " + moment(seleccionaHora, 'HH').format('HH:mm'),
                        name: 'ocupado',
                        mascota: mascota,
                        responsable: nombre,
                        color: 'primary'
                    }));
                }
            )
        },
        getEventColor(event) {
            return event.color
        }
    }
}
</script>

<style>

</style>
