<template>
<div>
    <v-sheet tile height="54" class="d-flex">
        <v-btn icon class="ma-2" @click="$refs.calendar.prev()">
            <v-icon>mdi-calendar-arrow-left</v-icon>
        </v-btn>
        <v-btn icon class="ma-2" @click="$refs.calendar.next()">
            <v-icon>mdi-calendar-arrow-right</v-icon>
        </v-btn>
        <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
        </v-toolbar-title>
    </v-sheet>
    <v-sheet height="600">
        <v-calendar ref="calendar" v-model="value" :weekdays="weekday" :type="type" @click:event="showEvent" :events="events" :event-overlap-mode="mode" :event-overlap-threshold="30" :event-color="getEventColor" @change="getEvents"></v-calendar>
        <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" full-width offset-x></v-menu>
            <v-card color="grey lighten-4" :width="400" flat>
                <v-toolbar :color="selectedEvent.color" dark>
                    <v-btn @click="deleteEvent(selectedEvent.id)" icon>
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                    <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                    <div class="flex-grow-1"></div>
                </v-toolbar>

                <v-card-text>
                    <form v-if="currentlyEditing !== selectedEvent.id">
                        {{ selectedEvent.details }}
                        <p style="text-align:justify">Tipo de mascota {{ selectedEvent.mascota }}</p>
                        <p style="text-align:justify">Datos de dueño: {{ selectedEvent.responsable }}</p>
                        <p style="text-align:justify">Detalles: {{ selectedEvent.name }} {{ selectedEvent.start }}</p>
                    </form>
                    <form v-else>
                        <textarea-autosize v-model="selectedEvent.details" type="text" style="width: 100%" :min-height="100" placeholder="add note">
                        </textarea-autosize>
                    </form>
                </v-card-text>

                <v-card-actions>
                    <v-btn text color="secondary" @click="selectedOpen = false">
                        Cerrar
                    </v-btn>
                    <v-btn v-if="currentlyEditing !== selectedEvent.id" text @click.prevent="editEvent(selectedEvent)">
                        Editar
                    </v-btn>
                    <v-btn text v-else type="submit" @click.prevent="updateEvent(selectedEvent)">
                        Guardar
                    </v-btn>
                </v-card-actions>
            </v-card>
    </v-sheet>
</div>
</template>

<script>
import moment from 'moment';

export default {
    data: () => ({
        type: 'month',
        types: ['month', 'week', 'day', '4day'],
        mode: 'stack',
        modes: ['stack', 'column'],
        weekday: [0, 1, 2, 3, 4, 5, 6],
        weekdays: [{
                text: 'Sun - Sat',
                value: [0, 1, 2, 3, 4, 5, 6]
            },
            {
                text: 'Mon - Sun',
                value: [1, 2, 3, 4, 5, 6, 0]
            },
            {
                text: 'Mon - Fri',
                value: [1, 2, 3, 4, 5]
            },
            {
                text: 'Mon, Wed, Fri',
                value: [1, 3, 5]
            },
        ],
        value: '',
        name: null,
        details: null,
        start: null,
        end: null,
        selectedEvent: {},
        selectedElement: null,
        selectedOpen: false,
        events: [],
        dialog: false,
        dialogDate: false,
        currentlyEditing: null,
        colors: ['blue', 'primary', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
        names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
    }),
    mounted() {
        this.$refs.calendar.checkChange();
    },
    methods: {
        async deleteEvent(id) {
            fetch('http://localhost:3000/reservas/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.$refs.calendar.checkChange();
                })
        },
        showEvent({ nativeEvent, event }) {
            const open = () => {
                this.selectedEvent = event
                this.selectedElement = nativeEvent.target
                setTimeout(() => this.selectedOpen = true, 10)
            }
            if (this.selectedOpen) {
                this.selectedOpen = false
                setTimeout(open, 10)
            } else {
                open()
            }
            nativeEvent.stopPropagation()
        },
        getEvents({
            start,
            end
        }) {
            const request = fetch('http://localhost:3000/reservas');
            request.then(resp => resp.json()).then(
                data => {
                    this.events = data.map(({
                        _id,
                        fechaSolicitud,
                        seleccionaHora,
                        servicio,
                        mascota,
                        nombre
                    }) => ({
                        id: _id,
                        start: fechaSolicitud.split("T")[0] + " " + moment(seleccionaHora, 'HH').format('HH:mm'),
                        name: servicio,
                        mascota: mascota,
                        responsable: nombre,
                        color: 'primary'
                    }));
                }
            )
        },
        getEventColor(event) {
            return event.color
        },
        editEvent(ev) {
            this.currentlyEditing = ev.id
        }
    }
}
</script>

<style>

</style>
