<template>
<div class="row">
    <div class="col" v-for="servicio in servicios" :key="servicio._id">
        <div class="card mb-3 cardService">
            <img :src="servicio.imgUrl" class="card-img-top imgS" alt="">
            <div class="card-body">
                <h5 class="card-title">{{servicio.titulo}}</h5>
                <p class="card-text">{{servicio.descripcion}}</p>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
    data() {
        return {
            servicios: []
        }
    },
    created() {
        this.obtenerServicio();
    },
    methods: {
        obtenerServicio() {
            fetch('http://localhost:3000/servicios')
                .then(res => res.json())
                .then(data => {
                    this.servicios = data;
                })
        }
    }
}
</script>

<style>
.cardService {
    min-height: 400px;
    max-height: 400px;
}

.imgS {
    max-height: 230px;
}
</style>
