<template>
<div class="content">
    <div class="row">
        <div class="col-lg-3" v-for="articulo in articulos" :key="articulo._id" :src="articulo.imgUrl">
            <b-card img-alt="Card image cardArt" img-top>
                <b-row>
                    <b-card-img :src="articulo.imgUrl" alt="Image" class="rounded-0 imgArt"></b-card-img>
                </b-row>
                <b-row>
                    <b-card-body :title="articulo.titulo">
                        <b-card-text>
                            {{articulo.subtitulo}}
                        </b-card-text>
                    </b-card-body>
                </b-row>
                <b-row>
                    <b-col cols="8"></b-col>
                    <b-col cols="4">
                        <button @click="mostrarArticulo(articulo._id)" class="btn btn-success">Leer más...</button>
                    </b-col>
                </b-row>
            </b-card>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <img :src="idArticulo.imgUrl" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="h5 card-title" style="text-align: center;">{{idArticulo.titulo}}</p>
                    <p class="h5 card-text" style="text-align: center;">{{idArticulo.subtitulo}}</p>
                    <p class="card-text" style="text-align: justify;">{{idArticulo.contenido}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="col card">
                <p class="h2">¿Te gustó el artículo?</p>
                <p class="h3">¡Déjanos un comentario!</p>
                <ComentarioForm artId="idArticulo._id" />
            </div>
        </div>
        <div class="col-lg-5">
            <Comentario />
        </div>
    </div>
</div>
</template>

<script>
import ComentarioForm from '../components/ComentarioForm';
import Comentario from '../components/Comentario';

export default {
    data() {
        return {
            articulos: [],
            editar: false,
            idArticulo: []
        }
    },
    created() {
        this.obtenerArticulo();
    },
    methods: {
        obtenerArticulo() {
            fetch('http://localhost:3000/articulos')
                .then(res => res.json())
                .then(data => {
                    this.articulos = data;
                })
        },
        mostrarArticulo(id) {
            fetch('http://localhost:3000/articulos/' + id)
                .then(res => res.json())
                .then(data => {
                    this.idArticulo = data;
                })
        }
    },
    components: {
        ComentarioForm,
        Comentario
    }
}
</script>

<style>
.cardArt {
    min-height: 200px;
    max-height: 401px;
}

.imgArt {
    min-height: 200px;
    max-height: 201px;
}
</style>
