<template>
<div class="row">
    <div class="col" id="ubicacion" v-for="(servicio, index) in listaUbicacion" :key="index">
        <div class="card mb-3 cardUbicacion">
            <img :src="servicio.imgUrl" class="card-img-top imgU" alt="">
            <div class="card-body">
                <h5 class="card-title">{{servicio.titulo}}</h5>
                <p class="card-text">{{servicio.descripcion}}</p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        listaUbicacion: {
            type: Array,
            required: true,
            validator: (value) => {
                return value.length <= 5;
            }
        }
    }
}
</script>

<style>
#ubicacion {
    min-height: 500px;
}

.cardUbicacion {
    min-height: 200px;
    max-height: 390px;
}

.imgU {
    max-height: 300px;
}
</style>
