<template>
<div class="content">
    <div class="row">
        <div class="col-lg-4" v-for="comentario of comentarios" v-bind:key="comentario._id">
            <b-card bg-variant="light" class="text-center">
                <b-card-text>
                    {{ comentario.email }}
                </b-card-text>
                <b-card-text>
                    {{ comentario.comentario }}
                </b-card-text>
                <button @click="eliminarComentario(comentario._id)" class="btn btn-danger btn-block">Eliminar</button>
            </b-card>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            comentarios: [],
            idComentario: ''
        }
    },
    created() {
        this.obtenerComentario();
    },
    methods: {
        obtenerComentario() {
            fetch('http://localhost:3000/comentarios')
                .then(res => res.json())
                .then(data => {
                    this.comentarios = data;
                })
        },
        eliminarComentario(id) {
            fetch('http://localhost:3000/comentarios/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.obtenerComentario();
                })
        }
    }
}
</script>
