<template>
<div id="content">
    <b-form @submit.prevent="agregarComentario()" @reset="onReset">
        <b-form-group id="input-group-1" label="Dirección de email" label-for="input-1">
            <b-form-input id="input-1" v-model="comentario.email" type="email" required placeholder="Ingresa tu email"></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Comentario" label-for="input-2">
            <b-form-input id="input-2" v-model="comentario.comentario" required placeholder="Ingresa comentario" row="4"></b-form-input>
        </b-form-group>

        <b-button type="reset" variant="danger" style="color:white;">Limpiar</b-button>
        <b-button type="submit" variant="primary" style="color:white;">Enviar</b-button>
    </b-form><br>
</div>
</template>

<script>
class Comentario {
    constructor(email, comentario) {
        this.email = email;
        this.comentario = comentario;
    }
}

export default {
    data() {
        return {
            comentario: new Comentario(),
            comentarios: []
        }
    },
    mounted() {
        this.obtenerComentario();
    },
    methods: {
        obtenerComentario() {
            fetch('http://localhost:3000/comentarios')
                .then(res => res.json())
                .then(data => {
                    this.comentarios = data;

                })
        },
        agregarComentario() {
            fetch('http://localhost:3000/comentarios', {
                    method: 'POST',
                    body: JSON.stringify(this.comentario),
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then((res => res.json()))
                .then(data => {
                    this.comentario = new Comentario();
                })

        }
    }
}
</script>
