<template>
<div>
    <b-form id="" @submit.prevent="crearUsuario()" class="card formCard">
        <b-row>
            <b-col>
                <b-form-input id="first_name" type="text" v-model="user.first_name" placeholder="Ingrese Nombre" required></b-form-input>
            </b-col>
            <b-col>
                <b-form-input id="last_name" type="text" v-model="user.last_name" placeholder="Ingrese Apellidos"></b-form-input>
            </b-col>
        </b-row><br>
        <b-row>
            <b-col>
                <b-form-input id="email" type="text" v-model="user.email" placeholder="Ingrese email de usuario" required></b-form-input>
            </b-col>
        </b-row><br>
        <b-row>
            <b-col>
                <b-form-input id="password" type="password" v-model="user.password" placeholder="Ingrese contraseña" required></b-form-input>
            </b-col>
        </b-row><br>
        <b-row>
            <b-col>
                <button class="btn btn-lg btn-success" v-b-modal.modal-multi-3 type="submit">Crear Cuenta</button>
            </b-col>
        </b-row><br>
    </b-form>
    <!--
    <b-modal id="modal-multi-3" size="sm" title="Registro Exitoso" ok-only>
        <p class="my-1">Cuenta Creada</p>
    </b-modal>
    -->
</div>
</template>

<script>
import {
    required,
    minLength,
    email
} from 'vuelidate/lib/validators'
class User {
    constructor(first_name, last_name, email, password, date) {
        this.first_name = first_name;
        this.last_name = last_name;
        this.email = email;
        this.password = password;
        this.date = date;
    }
}

export default {
    data() {
        return {
            submited: false,
            user: new User()
        }
    },
    methods: {
        crearUsuario() {
            this.submited = true;
            this.$v.$touch();

            if (this.$v.$invalid) {
                return false;
            }

            fetch('http://localhost:3000/users/register', {
                    method: 'POST',
                    body: JSON.stringify(this.user),
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then((res => res.json()))
                .then(data => {
                    this.user = new User();
                })
        }
    },
    validations: {
        user: {
            first_name: {
                required,
                minLength: minLength(3)
            },
            last_name: {
                required,
                minLength: minLength(3)
            },
            email: {
                email
            },
            password: {
                minLength: minLength(8)
            }
        }
    }
}
</script>

<style>
.formCard {
    padding: 4%;
    color: white;
}
</style>
