<template>
<mdb-footer class="font-small pt-4 mt-4 footer" fluid>
    <mdb-container class="text-left">
        <mdb-row>
            <mdb-col sm="6">
                <h5 class="title">Veterinaria</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, atque obcaecati. A ipsum temporibus, voluptas sint labore unde delectus non aut dolores voluptatem consequuntur omnis nisi reiciendis iure itaque illo.</p>
            </mdb-col>
            <mdb-col sm="6">
                <h5 class="title">Links de interés</h5>
                <ul>
                    <li class="list-unstyled"><a href="/blog" style="color:azure;">Blog</a></li>
                    <li class="list-unstyled"><a href="/#contacto" style="color:azure;">Contáctanos</a></li>
                    <li class="list-unstyled"><a href="/#cardServices" style="color:azure;">Servicios</a></li>
                    <li class="list-unstyled"><a href="/#formHour" style="color:azure;">Reserva Hora</a></li>
                    <li class="list-unstyled"><a href="/admin" style="color:azure;">Administrador</a></li>
                </ul>
            </mdb-col>
        </mdb-row>
    </mdb-container>
</mdb-footer>
</template>

<script>
import {
    mdbFooter,
    mdbContainer,
    mdbRow,
    mdbCol
} from 'mdbvue';
export default {
    name: 'FooterPage',
    components: {
        mdbFooter,
        mdbContainer,
        mdbRow,
        mdbCol
    }
}
</script>

<style>
.footer {
    background: rgb(136, 135, 153);
    color: white;
}

a:link {
    color: azure;
}
</style>
