<template>
<div class="container">
    <div class="row pt-5">
        <div class="col-md-12">
            <p class="h4 card">Horas Solicitadas</p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-4">
            <b-navbar-nav class="ml-auto">
                <input type="text" v-model="buscar" placeholder="Buscar">
            </b-navbar-nav>
        </div>
    </div><br>
    <div class="row pt-5">
        <div class="col-md-3" v-for="reserva in filtrarHoras" :key="reserva._id">
            <div class="card cardReserva">
                <p>{{ reserva.fechaSolicitud }}</p>
                <p>{{ reserva.servicio }} - {{ reserva.mascota }}</p>
                <button @click="eliminarReserva(reserva._id)" class="btn btn-outline-danger btn-sm">Cancelar</button><br>
                <button @click="masInformacion(reserva._id)" v-b-modal.modal-multi-3 size="sm" class="btn btn-outline-success btn-sm">Más Información</button><br>
            </div>
        </div>
    </div>
    <b-modal id="modal-multi-3" size="sm" title="Más Información" ok-only>
        <p class="my-1">Nombre de dueño: {{ idReserva.nombre }}</p>
        <p class="my-1">Email de dueño: {{ idReserva.email }}</p>
        <p class="my-1">Tipo de Mascota: {{ idReserva.mascota }}</p>
        <p class="my-1">Tipo de Servicio: {{ idReserva.servicio }}</p>
        <p class="my-1">Fecha Necesaria: {{ idReserva.fechaSolicitud }}</p>
        <p class="my-1">Fecha de Solicitud: {{ idReserva.crearSolicitud }}</p>
    </b-modal>

</div>
</template>

<script>
export default {
    data() {
        return {
            reservas: [],
            idReserva: '',
            buscar: ''
        }
    },
    created() {
        this.obtenerReserva();
    },
    computed: {
        sortedItems: function () {
            this.reservas.sort((a, b) => {
                return new Date(a.fechaSolicitud) - new Date(b.fechaSolicitud);
            });
            return this.reservas;
        },
        filtrarHoras: function () {
            return this.sortedItems.filter((reserva) => {
                return reserva.fechaSolicitud.match(this.buscar)
            });
        }
    },
    methods: {
        obtenerReserva() {
            fetch('http://localhost:3000/reservas')
                .then(res => res.json())
                .then(data => {
                    this.reservas = data;
                })
        },
        eliminarReserva(id) {
            fetch('http://localhost:3000/reservas/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.obtenerReserva();
                })
        },
        masInformacion(id) {
            fetch('http://localhost:3000/reservas/' + id)
                .then(res => res.json())
                .then(data => {
                    this.idReserva = data;
                })
        }
    }
}
</script>

<style>
.cardReserva {
    min-height: 190px;
    max-height: 200px;
}
</style>
