<template>
<div>
    <b-avatar src="https://placekitten.com/350/350" size="9rem"></b-avatar>
    <form v-on:submit.prevent="login">
        <h1 class="h3 mb-3 font-weight-normal">Ingrese sus datos</h1>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" v-model="email" class="form-control" name="email" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" v-model="password" class="form-control" name="password" placeholder="Enter Password" required>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Ingresar</button>
    </form>
</div>
</template>

<script>
import axios from 'axios'
import router from '@/router'
import EventBus from './EventBus'

export default {
    data() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        login() {
            axios.post('http://localhost:3000/users/login', {
                email: this.email,
                password: this.password

            }).then(res => {
                localStorage.setItem('usertoken', res.data)

                console.log(res.data)

                this.email = ''
                this.password = ''

                if (res.data == true) {
                    router.push({
                        name: 'Index'
                    });
                } else {
                    alert("Usuario no exíste")
                }

            }).catch(err => {
                console.log(err)
            });

            this.emitMethod()

        },
        emitMethod() {
            EventBus.$emit('logged-in', 'loggedin')
        }
    }
}
</script>

<style>

</style>
