<template>
<div id="">
    <gmap-map v-bind:center="center" v-bind:zoom="7" style="height: 390px">
        <gmap-marker v-bind:key="index" v-for="(m, index) in markers" v-bind:position="m.position" v-bind:clickable="true"></gmap-marker>
    </gmap-map>
</div>
</template>

<script>
export default {
    data() {
        return {
            center: {
                lat: -38.692703,
                lng: -72.555959
            },
            markers: [{
                    position: {
                        lat: -33.539543,
                        lng: -70.756636
                    }
                },
                {
                    position: {
                        lat: -38.7673403,
                        lng: -72.6108753
                    }
                }
            ]
        };
    }
};
</script>
