<template>
<div>
    <b-navbar toggleable="lg" type="dark" variant="secondary">
        <b-avatar src="https://i.pinimg.com/originals/d7/e6/fe/d7e6fe6c4e540f6468d8638f5008c1d9.jpg" size="3rem"></b-avatar>
        <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
                <b-nav-item href="/">Veterinaria San Francisco</b-nav-item>
                <b-nav-item href="/#cardServices">Servicios</b-nav-item>
                <b-nav-item href="/#ubicacion">Contactos</b-nav-item>
                <b-nav-item href="/blog">Blogs</b-nav-item>
            </b-navbar-nav>
        </b-navbar-nav>
    </b-navbar>
</div>
</template>

<script>
export default {};
</script>

<style>

</style>
