<template>
<div>
    <b-navbar toggleable="md" type="dark" variant="secondary">
        <b-avatar src="https://i.pinimg.com/originals/d7/e6/fe/d7e6fe6c4e540f6468d8638f5008c1d9.jpg" size="3rem"></b-avatar>
        <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
                <b-nav-item href="/">Veterinaria San Francisco</b-nav-item>
                <b-nav-item href="/index">Articulos</b-nav-item>
                <b-nav-item href="/horasReservadas">Horas Reservadas</b-nav-item>
                <b-nav-item href="/gestionUsuarios">Gestion de Usuarios</b-nav-item>
            </b-navbar-nav>
            <router-link to="/" tag="button" @click="emitMethod()" class="btn btn-outline-danger btn-sm btnCerrar">Cerrar Sesión</router-link>
        </b-navbar-nav>
    </b-navbar>
</div>
</template>

<script>
import EventBus from './EventBus'

export default {
    components: {

    },
    emitMethod() {
        EventBus.$emit('logged-in', 'loggedin')
    }
}
</script>

<style>

</style>
