<template>
<div class="card" fluid>
    <b-form class="formReserva" @submit.prevent="agregarReserva()">
        <b-form-input id="input-1" v-model="reserva.email" type="email" required placeholder="Ingresa tu email"></b-form-input><br>
        <b-form-input id="input-2" v-model="reserva.nombre" required placeholder="Ingresa tu nombre"></b-form-input><br>
        <b-form-group id="input-group-3" label="Mascota:" label-for="input-3" style="text-align: left;">
            <b-form-select id="input-3" v-model="reserva.mascota" :options="mascotas" required></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-3" label="Servicio:" label-for="input-3" style="text-align: left;">
            <b-form-select id="input-3" v-model="reserva.servicio" :options="servicios" required></b-form-select>
        </b-form-group>

        <b-row>
            <b-col>
                <b-form-group id="input-group-4" label="Selecciona la fecha" label-for="input-3" style="text-align: left;">
                    <b-form-datepicker id="example-datepicker" v-model="reserva.fechaSolicitud" class="mb-2"></b-form-datepicker>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group id="input-group-5" label="Hora de Preferencia:" label-for="input-3" style="text-align: left;">
                    <b-form-select id="input-3" v-model="reserva.seleccionaHora" :options="horas" required></b-form-select>
                </b-form-group>
            </b-col>
            <b-col>
                <b-form-group id="input-group-6" label="Generar Hora:" label-for="input-3" style="text-align: left;">
                    <b-button block type="submit" v-on:click="modalReserva(reserva._id)" v-b-modal.modal-multi-3 size="xl" variant="primary">Reservar</b-button>
                </b-form-group>
            </b-col>
        </b-row>
    </b-form>

    <div>
        <b-modal id="modal-multi-3" size="sm" title="Registro Exitoso" ok-only>
            <p class="my-1">Gracias por reservar {{idReserva.nombre}} el servicio {{idReserva.servicio}} con nosotros! Te llamarémos para confirmar la hora!</p>
        </b-modal>
    </div>

</div>
</template>

<script>
import {
    required,
    minLength,
    email
} from 'vuelidate/lib/validators'

class Reserva {
    constructor(email, nombre, mascota, servicio, fechaSolicitud, seleccionaHora) {
        this.email = email;
        this.nombre = nombre;
        this.mascota = mascota;
        this.servicio = servicio;
        this.fechaSolicitud = fechaSolicitud;
        this.seleccionaHora = seleccionaHora;
    }
}

export default {
    data() {
        return {
            reserva: new Reserva(),
            reservas: [],
            idReserva: '',
            mascotas: [{
                text: 'Selecciona tu mascota',
                value: null
            }, 'Aves', 'Exótico', 'Gatos', 'Perros', 'Roedores'],
            servicios: [{
                text: 'Selecciona el servicio',
                value: null
            }, 'Control Médico', 'Consulta', 'Peluquería', 'Quirurgico', 'Vacunación'],
            horas: [{
                text: 'Atendemos 24Horas',
                value: null
            }, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
            show: true
        }
    },
    methods: {
        agregarReserva() {
            fetch('http://localhost:3000/reservas', {
                    method: 'POST',
                    body: JSON.stringify(this.reserva),
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then((res => res.json()))
                .then(data => {
                    this.reserva = new Reserva();
                })
        },
        modalReserva(id) {
            fetch('http://localhost:3000/reservas/' + id)
                .then(res => res.json())
                .then(data => {
                    this.idReserva = data;
                })
        }
    },
    validations: {
        reserva: {
            nombre: {
                required,
                minLength: minLength(2)
            },
            email: {
                email
            }
        }
    }
}
</script>

<style>
.formReserva {
    margin: 3%;
    min-height: 403px;
}
</style>
