<template>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(user, index) in users" :key="index">
                <th scope="row">{{index+1}}</th>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>

                <td v-if="user.email != 'millarayarias@vet.cl'">
                    <button @click="eliminarUsuario(user._id)" class="btn btn-danger">Eliminar</button>
                </td>
                <td v-else>
                    <button class="btn btn-danger" disabled>Administrador</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>

export default {
    data() {
        return {
            users: [],
            idUser: '',
        }

    },
    created() {
        this.obtenerUsuario();
    },
    methods: {
        obtenerUsuario() {
            fetch('http://localhost:3000/users')
                .then(res => res.json())
                .then(data => {
                    this.users = data;
                })
        },
        eliminarUsuario(id) {
            fetch('http://localhost:3000/users/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.obtenerUsuario();
                })
        }
    }
}
</script>

<style>

</style>
