<template>
<div id="content">
    <NavBar /><br>
    <b-container fluid>
        <b-row>
            <b-col>
                <p class="h3 card">Consejos y más!</p>
            </b-col>
        </b-row><br>
        <b-row>
            <b-col>
                <Articulo />
            </b-col>
        </b-row>
    </b-container>
    <Footer />
</div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'
import Articulo from '@/components/CardArticulo.vue'
import Footer from '@/components/Footer.vue'
export default {
    components: {
        NavBar,
        Articulo,
        Footer
    }
}
</script>

<style>

</style>
