<template>
<div>
    <NavBarAdmin />
    <b-container>
        <b-row>
            <b-col>
                <p class="h3 card">Ver Usuarios</p><br>
                <TablaUsuarios />
            </b-col>
            <b-col>
                <p class="h3 card">Crear Usuarios</p><br>
                <CrearUsuarios />
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
import NavBarAdmin from '@/components/NavBarAdmin.vue'
import TablaUsuarios from '@/components/TablaUsuarios.vue'
import CrearUsuarios from '@/components/CrearUsuarios.vue'

export default {
    components: {
        NavBarAdmin,
        TablaUsuarios,
        CrearUsuarios
    }
}
</script>

<style>

</style>
