<template>
<div id="content">
    <NavBar />
    <Carousel /><br>
    <b-container fluid>
        <b-row id="cardServices">
            <b-col>
                <p class="h4 card" style="text-align: center;">Nuestros Servicios</p>
            </b-col>
        </b-row><br>
        <b-row>
            <b-col>
                <CardServicio />
            </b-col>
        </b-row><br>
        <b-row>
            <b-col>
                <p class="h4 card" style="text-align: center;">Registra tu hora</p>
            </b-col>
        </b-row><br>
        <b-row id="formHour">
            <b-col>
                <CalendarioUsuario />
            </b-col>
            <b-col>
                <ReservaForm />
            </b-col>
        </b-row><br><br>
        <b-row>
            <b-col>
                <p class="h4 card" style="text-align: center;">Contacto</p>
            </b-col>
        </b-row><br><br>
        <b-row id="contacto">
            <b-col>
                <Map />
            </b-col>
            <b-col>
                <CardUbicacion :listaUbicacion="ubicacion" />
            </b-col>
        </b-row>
    </b-container>
    <Footer />
</div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'
import Carousel from '@/components/Carousel.vue'
import CardServicio from '@/components/CardServicio.vue'
import CardUbicacion from '@/components/CardUbicacion.vue'
import CalendarioUsuario from '@/components/CalendarioUsuario.vue'
import ReservaForm from '@/components/ReservaForm.vue'
import Map from '@/components/Map.vue'
import Footer from '@/components/Footer.vue'

export default {
    components: {
        NavBar,
        Carousel,
        CardServicio,
        CardUbicacion,
        ReservaForm,
        CalendarioUsuario,
        Map,
        Footer
    },
    data: () => {
        return {
            ubicacion: [{
                    imgUrl: 'https://allcostablanca.com/wp-content/uploads/2018/05/1_tiendas-pets.jpg',
                    titulo: 'Santiago, Maipú',
                    descripcion: 'Las Lomas #5221'
                },
                {
                    imgUrl: 'https://i.pinimg.com/originals/96/c9/25/96c9253962ebb711647eb4acf2463e5d.jpg',
                    titulo: 'Temuco, Padre Las Casas',
                    descripcion: 'Los Ángeles #1352'
                }
            ]
        }
    }
}
</script>

<style>
#formHour {
    max-height: 470px;
}
</style>
