<template>
<div id="content">
    <NavBarAdmin />
    <b-container fluid>
        <b-row>
            <b-col>
                <Calendario />
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
import NavBarAdmin from '@/components/NavBarAdmin.vue'
import Calendario from '@/components/CalendarioHoras.vue'

export default {
    components: {
        NavBarAdmin,
        Calendario
    }
}
</script>

<style>

</style>
