<template>
<div id="content">
    <NavBarAdmin />
    <AgregarArticulo />
</div>
</template>

<script>
import AgregarArticulo from '@/components/AgregarArticulo.vue'
import NavBarAdmin from '@/components/NavBarAdmin.vue'
export default {
    components: {
        NavBarAdmin,
        AgregarArticulo
    }
}
</script>

<style>

</style>
